/* Resetting and centering the body element */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
}

.container > .cell {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}